.project-card{
    transition: 0.3s;
}
.project-card:hover{
    transform: translateY(-4px);
    box-shadow: 0px 5px 30px 0px #e20600;
}
.p-t-icon{
    color: #fff;
    font-size: 30px;
    transition:0.2s ease;
}
.p-t-icon:hover{
    color: #e20600;

}
.img-t {
  scroll-margin-top: 80px;
}
.gmail-modal-X{
    color: #fff !important;
}