body{
    font-family: 'Titillium Web', sans-serif !important;
}

.main-container {
    background-color: aliceblue;
}

.highlight{
    background: #15151e;
}

.highlight img{
    width: 100%;
}

.btn1{
    background: #e20600;
}

.fadeup {
    animation: fadeup 0.3s ease-out forwards;
}
li a {
    color: #fff;
}

@keyframes fadeup {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}