.container-grid{
    display: grid;
  
}

.team-card{
    height: 100%;
    background: linear-gradient(300deg, rgb(from #19d9b6 r g b / 2) 0%, rgb(from #0e8177 r g b / 1) 100%);
    background-color: #27F4D2;
    border-radius: 8px;
    padding: 0.5em;
    box-shadow: 0 0 5px black;
}
.team-card1{
    height: 100%;
    background-color:#E8002D;
    border-radius: 8px;
    padding: 0.5em;
    box-shadow: 0 0 5px black;
    background: linear-gradient(300deg, rgb(from #e92424 r g b / 2) 0%, rgb(from #8a1010 r g b / 1) 100%);
}
.team-card2{
    height: 100%;
    background-color:#FF8000;
    border-radius: 8px;
    padding: 0.5em;
    box-shadow: 0 0 5px black;
    background: linear-gradient(300deg, rgb(from #e66e17 r g b / 2) 0%, rgb(from #a93d04 r g b / 1) 100%);
}
.team-card3{
    height: 100%;
    background-color:#3671C6;
    border-radius: 8px;
    padding: 0.5em;
     box-shadow: 0 0 5px black;
    background: linear-gradient(300deg, rgb(from #1c13d3 r g b / 2) 0%, rgb(from #04146e r g b / 1) 100%);
}
.team-card4{
    height: 100%;
    background-color:#00A1E8;
    background: linear-gradient(300deg, rgb(from #1b7dcd r g b / 2) 0%, rgb(from #05327a r g b / 1) 100%);
    border-radius: 8px;
    padding: 0.5em;
    box-shadow: 0 0 5px black;
}
.team-card5{
    height: 100%;
    background-color:#6692FF;
    border-radius: 8px;
    padding: 0.5em;
    box-shadow: 0 0 5px black;
    background: linear-gradient(300deg, rgb(from #0b17fb r g b / 2) 0%, rgb(from #05146a r g b / 1) 100%);
}
.team-card6{
    height: 100%;
    background-color:#DEE1E2;
    border-radius: 8px;
    padding: 0.5em;
    box-shadow: 0 0 5px black;
    background: linear-gradient(300deg, rgb(from #cacbcc r g b / 2) 0%, rgb(from #797a7a r g b / 1) 100%);
}
.team-card7{
    height: 100%;
    background-color:#1868DB;
    border-radius: 8px;
    padding: 0.5em;
     box-shadow: 0 0 5px black;
    background: linear-gradient(300deg, rgb(from #4c35fb r g b / 2) 0%, rgb(from #241b86 r g b / 1) 100%);
}
.team-card8{
    height: 100%;
    background-color:#FF2D00;
    border-radius: 8px;
    padding: 0.5em;
     box-shadow: 0 0 5px black;
    background: linear-gradient(300deg, rgb(from #f82d2d r g b / 2) 0%, rgb(from #8b0b0b r g b / 1) 100%);
}

.team-card9{
    height: 100%;
    background-color:#229971;
    border-radius: 8px;
    padding: 0.5em;
    box-shadow: 0 0 5px black;
    background: linear-gradient(300deg, rgb(from #0dda22 r g b / 2) 0%, rgb(from #123822 r g b / 1) 100%);
}
.team-card10{
    height: 100%;
    background-color:#AAAAAD;
    border-radius: 8px;
    padding: 0.5em;
    box-shadow: 0 0 5px black;
    background: linear-gradient(300deg, rgb(from #afa9a9 r g b / 2) 0%, rgb(from #7d7d7e r g b / 1) 100%);
}

.team-card img{
    padding-top: 24px;
    width:80%;
    margin-left: -6px;
    margin-bottom:-5px;
    
}
.team-card1 img{
    padding-top: 24px;
    width:80%;
    margin-left: -6px;
    margin-bottom: -5px;
}
.team-card2 img{
    padding-top: 24px;
    width:80%;
    margin-left: -6px;
    margin-bottom: -5px;
}
.team-card3 img{
    padding-top: 24px;
    width:80%;
    margin-left: -6px;
    margin-bottom: -5px;
}
.team-card4 img{
    padding-top: 24px;
    width:80%;
    margin-left: -6px;
    margin-bottom: -5px;
}
.team-card5 img{
   padding-top: 24px;
    width:80%;
    margin-left: -6px;
    margin-bottom: -5px;
}
.team-card6 img{
    padding-top: 24px;
    width:80%;
    margin-left: -6px;
    margin-bottom: -5px;
}
.team-card7 img{
    padding-top: 24px;
    width:80%;
    margin-left: -6px;
    margin-bottom: -5px;
}
.team-card8 img{
   padding-top: 24px;
    width:80%;
    margin-left: -6px;
    margin-bottom: -5px;
}
.team-card9 img{
   padding-top: 24px;
    width:80%;
    margin-left: -6px;
    margin-bottom: -5px;
}
.team-card10 img{
    padding-top: 24px;
    width:80%;
    margin-left: -6px;
    margin-bottom: -5px;
}

.edit-name{
    color: whitesmoke;
    margin-top: -20px;
    width: 340px;
    display: grid;
    padding-left: 20px;
    margin-bottom: -20px;
}
.name-of-car{
color:whitesmoke;
font-size: 30px;
margin-left:20px;
}
.name-of-car:hover{
    text-decoration: underline;
}
.img-mask{
    opacity: 1;
    background-color: var(#27F4D2);
    right:0;
}
.logo {
    width:60px;
    margin-top: -90px;
    float: right;
}
.logo1 {
    width:60px;
    margin-right:5px ;
    margin-top: -95px;
    float: right;
}
.bglol{
    padding-top: 2em;
    width:100%;
    height: 100%;
    background-color: #ef1c1c;
    border-radius: 8px;
    padding: 0.5em;
    box-shadow: 0 0 5px black;
}
.bort{
    position: absolute;
    padding-left: 6px;
}
a{
    text-decoration:none !important;
}